/* reminder: MOBILE FIRST APPROACH! -> other sizes after! */
:root {
	--color-primary: white;
	--color-secondary: #1b2431;
	--color-accent: #ff4d5a;
	--color-text: black;

	--high-shadow-colorless: 0 20px 15px;
	--low-shadow-colorless: 0 3px 3px;
	--high-shadow: rgba(0, 0, 0, 0.4) var(--high-shadow-colorless);
	--low-shadow: rgba(0, 0, 0, 0.4) var(--low-shadow-colorless);

	--high-shadow-dark: black var(--high-shadow-colorless);
	--low-shadow-dark: black var(--low-shadow-colorless);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* HOVER STYLES */
* {
	transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

body {
	display: flex;
	flex-direction: column;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-size: large;
}

/* --- TYPOGRAPHY --- */
html {
	/* 16px * 62.5% = 10px */
	/* font-size: 62.5%; */
}

a {
	text-decoration: none;
}

.block-heading {
	border-bottom: solid 1px;
}

h1,
h2 {
	text-shadow: var(--low-shadow);
}

/* --- HOME BLOCK --- */
@keyframes custom-movie-start {
	0% {
		border-width: 0px 0px;
	}
	100% {
		border-width: 10vh 10px;
	}
}
.home-block {
	border: solid var(--color-secondary);

	text-align: center;
	font-size: 48px;
	text-shadow: var(--low-shadow);

	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	animation: custom-movie-start;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes custom-fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.hi {
	opacity: 0;
	display: flex;
	justify-content: center;
	animation: custom-fadeIn;
	animation-duration: 5s;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}
.my-name {
	color: var(--color-accent);
	display: inline-block;
	padding-left: 0.7rem;

	animation: bounceInDown;
	animation-duration: 1.3s;
	animation-delay: 3.5s;
}
.im-a-SD {
	opacity: 0;
	animation: custom-fadeIn;
	animation-duration: 5s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

/* --- ABOUT BLOCK --- */
.about-block {
	background-color: var(--color-secondary);
	color: var(--color-primary);

	display: flex;
	flex-direction: column;
	padding: 40px;
	align-items: center;
}
.about-block .block-heading {
	text-shadow: var(--low-shadow-dark);
}
.about-text {
	max-width: 500px;
	text-align: center;
}

/* --- SKILLS BLOCK --- */
.skills-block {
	background-color: var(--color-secondary);
	color: var(--color-primary);

	display: flex;
	flex-direction: column;
	align-items: center;
}
.skills-block .block-heading {
	text-shadow: var(--low-shadow-dark);
}
.skills-group-heading {
	margin: 0;
	font-size: large;
}
.skills-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
.skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skill {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	border: solid var(--color-primary) 2px;
	border-radius: 15px;
	padding: 15px 5px;
	margin: 10px;

	width: 80px;
	height: 84.75px;

	box-shadow: black var(--low-shadow-colorless);
}
.skill img {
	height: 35px;
	padding: 5px;
}
.skill p {
	margin: 0;
	font-size: small;
}
.skill:hover {
	transform: scale(1.15);
	box-shadow: black var(--high-shadow-colorless);
}

.skill-coming-soon {
	border-color: grey;
}
.skill-coming-soon * {
	filter: grayscale(1);
	opacity: 0.3;
}
.skill-coming-soon::after {
	content: "Coming Soon";
	position: relative;
	bottom: 100%;
	text-align: center;
	font-weight: 700;
	font-size: large;

	text-shadow: var(--low-shadow-dark);
}

@media screen and (min-width: 1024px) {
	.skill {
		width: 100px;
		height: 103.2px;
	}
	.skill img {
		height: 50px;
	}
	.skill p {
		font-size: unset;
	}

	.skill-coming-soon::after {
		font-size: x-large;
	}
}

/* --- PROJECTS BLOCK --- */
.projects-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;
	max-width: 1024px;
}
/* temporary: might reorganize? */
.project-desc {
	font-weight: 300;
}
.project-desc span {
	text-decoration: underline;
	font-weight: normal;
}

.project-coming-soon * {
	filter: blur(5px);
	cursor: default;
}
.project-coming-soon::after {
	content: "Coming Soon";
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	/* shadow actually just to make sure words are still readable on similar background */
	text-shadow: var(--color-primary) 0 0 10px;
	color: rgb(75, 75, 75);

	/* to remove the extra space being made since Im using flexbox on .project */
	width: 0;
	height: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	bottom: 220px;
}

.project-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;

	margin: 0 30px;
}

.project-skills-container {
	display: flex;
	gap: 5px;
}
.project-skill {
	background-color: var(--color-secondary);
	color: var(--color-accent);

	padding: 4px 10px;
	font-size: small;
	font-weight: bold;
}

.project-view-button {
	background-color: var(--color-secondary);
	color: var(--color-accent);
	padding: 7px 20px;
	margin-bottom: 20px;
	font-weight: bold;

	text-shadow: black var(--low-shadow-colorless);
	box-shadow: var(--high-shadow);
}
.project-view-button:hover {
	transform: scale(0.99);
	box-shadow: var(--low-shadow);
}

.project-img-link {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 30px;

	width: 300px;
	aspect-ratio: 1.2/1;

	overflow: hidden;
	border-radius: 15px;

	box-shadow: var(--high-shadow);
}
.project-img {
	width: 100%;
	transform: scale(1.02);
}
.project-img-link:hover {
	transform: scale(0.99);
	box-shadow: var(--low-shadow);
}

@media screen and (min-width: 1024px) {
	.project {
		flex-direction: row;
		align-items: unset;
	}

	.project-info {
		align-items: flex-start;
	}

	.project-img-link {
		width: unset;
		max-width: 400px;
		min-width: 300px;
		margin-left: 100px;
	}

	.project-coming-soon::after {
		bottom: unset;
		align-items: unset;
		justify-content: unset;

		right: calc(50% + 125px);
		top: 50px;
	}

	.project-view-button {
		margin-bottom: unset;
	}
}

/* CONTACT BLOCK */
.contact-block {
	height: 100vh;
	background-color: var(--color-secondary);
	color: var(--color-accent);
	text-align: center;

	text-shadow: var(--low-shadow-dark);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-block .block-heading {
	text-shadow: var(--low-shadow-dark);
}
.contact-block p {
	margin-left: 30px;
	margin-right: 30px;
}

.email-link {
	color: var(--color-secondary);
	background-color: var(--color-accent);
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;

	border-radius: 100px;

	font-size: xx-large;

	box-shadow: var(--high-shadow-dark);
}
.email-link::after {
	font-family: "Material Symbols Outlined";
	content: "\f187";
}
.email-link:hover {
	transform: scale(0.95);
	box-shadow: var(--low-shadow-dark);
}

@media screen and (min-width: 724px) {
	.contact-block {
		height: 250px;
		justify-content: flex-start;
	}
}
